
#banner{
    min-height: 100vh;
    background: linear-gradient(to right, hsla(0, 1%, 34%, 0.856) ,rgba(43,42,42,0.315)), url('https://img.freepik.com/free-photo/coffee-beans-top-view-white-background-space-text_176474-5028.jpg?t=st=1710816838~exp=1710820438~hmac=305b22c7f4ab96d2d57b8850146fa969361bcb0ea698d905b58f4c0a49cfa03e&w=900') no-repeat;
    background-size: cover;

}

section{
    padding-top: 100px;
    padding-bottom: 100px;
}
.btn{
    padding-top: 15px 30px;
    transition: all 0.4s ease;
    font-weight: 800;
    border-radius: 0;
}
.btn-brand:hover{
    background-color: transparent;
    color: rgb(0, 204, 255);
    border-color: #F2B03B;
}
*{
    font-family: 'Courier New', Courier, monospace;
}

.icon-img-box{
    width: 40%;
}

.card {
    transition: background-color 0.3s, 0.3s;
}

.card:hover{
    background-color:  #3bf2d4;
}

.card:hover .card-title,
.card:hover .card-text,
.card:hover .btn {
    color: #fff;

}
 .btn-outlined-brand {
    color: #0a0a0a;
    background-color: transparent;
    border-color: #0a1a01;
 }

 .btn-outlined-brand:hover {
    background-color:#F2B03B;
 }

 #cta{
    min-height: 100vh;
    background: linear-gradient(to right, hsla(0, 20%, 99%, 0.274) ,rgba(43,42,42,0.315)), url('https://img.freepik.com/free-photo/coffee-beans-top-view-white-background-space-text_176474-5028.jpg?t=st=1710816838~exp=1710820438~hmac=305b22c7f4ab96d2d57b8850146fa969361bcb0ea698d905b58f4c0a49cfa03e&w=900') no-repeat;
    min-height:  70vh;
    background-size: cover;
    background-repeat:  no-repeat;
    background-position:  center;
    background-attachment: fixed;
 }
 .testimonials img{
    width: 65px;
    border-radius: 100px;
    height:  65px;
 }

 .testimonials {
    background-color: var(--bg1);
    padding: 30px;
 }

 #reviews a {
    color: var(--brand);
 }

 #reviews {
    background-color: var(--white);
 }

 :root {
    --bg1: #884e4e;
    --bg2: rgb(52, 164, 179);
    --body: rgb(161, 87, 87);
    --brand:  #a36f14;
    --white: rgb(196, 109, 109);
    --p: rgb(161, 90, 90);
 }







     

